In [1]:
import pandas as pd
import numpy as np

In [20]:
catan = pd.read_csv("/Users/awburns2/Documents/catanstats.csv")
pd.set_option('display.max_columns', None)

In [21]:
catan.head()

,gameNum,player,points,me,2,3,4,5,6,7,8,9,10,11,12,settlement1,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,settlement2,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,production,tradeGain,robberCardsGain,totalGain,tradeLoss,robberCardsLoss,tribute,totalLoss,totalAvailable
0,1,1,5,NaN,1,3,5,8,7,10,6,7,3,4,1,6,L,3,C,11,C,9,L,10,W,11,O,38,5,2,45,10,2,4,16,29
1,1,2,9,1.0,1,3,5,8,7,10,6,7,3,4,1,5,W,8,O,10,W,4,L,5,S,11,O,48,8,6,62,11,1,8,20,42
2,1,3,10,NaN,1,3,5,8,7,10,6,7,3,4,1,5,S,6,S,12,W,8,O,4,S,3,C,44,14,9,67,24,4,0,28,39
3,1,4,5,NaN,1,3,5,8,7,10,6,7,3,4,1,6,O,9,L,3,L,4,L,8,L,10,S,42,12,0,54,24,6,0,30,24
4,2,1,10,NaN,1,6,3,9,10,8,14,9,3,3,3,6,W,9,O,10,O,8,W,10,L,0,2L,60,15,16,91,28,10,0,38,53

In [22]:
catan.rename(columns={"settlement1": "settlement1n1",
                      "Unnamed: 16": "settlement1r1", 
                      "Unnamed: 17": "settlement1n2",
                      "Unnamed: 18": "settlement1r2",
                      "Unnamed: 19": "settlement1n3",
                      "Unnamed: 20": "settlement1r3",
                      "settlement2": "settlement2n1",
                      "Unnamed: 22": "settlement2r1", 
                      "Unnamed: 23": "settlement2n2",
                      "Unnamed: 24": "settlement2r2",
                      "Unnamed: 25": "settlement2n3",
                      "Unnamed: 26": "settlement2r3",}, errors="raise", inplace = True)

In [23]:
catan.head()

,gameNum,player,points,me,2,3,4,5,6,7,8,9,10,11,12,settlement1n1,settlement1r1,settlement1n2,settlement1r2,settlement1n3,settlement1r3,settlement2n1,settlement2r1,settlement2n2,settlement2r2,settlement2n3,settlement2r3,production,tradeGain,robberCardsGain,totalGain,tradeLoss,robberCardsLoss,tribute,totalLoss,totalAvailable
0,1,1,5,NaN,1,3,5,8,7,10,6,7,3,4,1,6,L,3,C,11,C,9,L,10,W,11,O,38,5,2,45,10,2,4,16,29
1,1,2,9,1.0,1,3,5,8,7,10,6,7,3,4,1,5,W,8,O,10,W,4,L,5,S,11,O,48,8,6,62,11,1,8,20,42
2,1,3,10,NaN,1,3,5,8,7,10,6,7,3,4,1,5,S,6,S,12,W,8,O,4,S,3,C,44,14,9,67,24,4,0,28,39
3,1,4,5,NaN,1,3,5,8,7,10,6,7,3,4,1,6,O,9,L,3,L,4,L,8,L,10,S,42,12,0,54,24,6,0,30,24
4,2,1,10,NaN,1,6,3,9,10,8,14,9,3,3,3,6,W,9,O,10,O,8,W,10,L,0,2L,60,15,16,91,28,10,0,38,53